<div class="container-user">
    <%if @user.empty?%>
        <h1>Theres no information about any user yet</h1>
    <%end%>

    <div>
   <ul>
      <%@user.each do |user|%>      
          <li>
            <a href="/users/<%= user.id%>">
            <%= render partial: 'shared/user_card', locals: { user: user } %>
            </a>
          </li>
      <% end %>
   </ul>
</div>
