<div class="container-user">
    <%if @users.empty?%>
        <h1>Theres no information about any user yet</h1>
    <%end%>

    <div>
       <ul>
          <%@users.each do |user|%>
            <li>
              <a href="/users/<%= user.id%>">
              <%= render partial: 'shared/user_card', locals: { user: user } %>
              </a>
            </li>
          <%end%>
       </ul>
    </div>
</div>