<div class="post">
  <div class="post-title">        
      <h3><%= post.title %></h3>
  </div>
  <div class="post-information">

      <p><%= post.text %></p>

      <div class="post-interactions">
        <span>Comments: <%= post.commentsCounter %></span>,
        <span>Likes: <%= post.likesCounter %></span>
      </div>
      
  </div>
</div>