<div class="user-card">
  <div class="user-picture">
      <img src="<%= user.photo %>" alt="<%= user.name %>">
  </div>

  <div class="user-information">
      <h1><%= user.name %></h1>
      <span class="counter-posts">Number of posts: <%= user.post_counter %></span>
  </div>

</div>