<!DOCTYPE html>
<html>
  <head>
    <title>BlogAppRod</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Here is some placeholder text for the index page of user posts</h1>
  </body>
</html>

