body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  font-size: 35px;
}

label {
  padding-bottom: 20px;
}

.title-log-in {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

.field {
  font-family: Arial, Helvetica, sans-serif;
}

#user_email {
  font-family: Arial, Helvetica, sans-serif;
  width: 580px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

#user_password {
  font-family: Arial, Helvetica, sans-serif;
  width: 580px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#user_remember_me {
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
}

.actions input {
  width: 500px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.actions input:hover {
  background: rgb(25, 90, 73);
  cursor: pointer;
  border-radius: 5px;
  color: aliceblue;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.log-links{
  display: flex;
  justify-content: center;
  align-items: center;
}