body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  font-size: 35px;
}

.comments{
  background: rgb(122,242,212);
  background: linear-gradient(11deg, rgba(122,242,212,1) 0%, rgba(255,255,255,1) 81%, rgba(203,203,203,1) 96%);
  font-family: Arial, Helvetica, sans-serif;
}

label {
  padding-bottom: 20px;
}

.title-log-in {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}

.field {
  font-family: Arial, Helvetica, sans-serif;
}

.normal_inputs inputs {
  font-family: Arial, Helvetica, sans-serif;
  width: 580px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

div{
  font-family: Arial, Helvetica, sans-serif;
}

.normal_inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#user_password {
  font-family: Arial, Helvetica, sans-serif;
  width: 580px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#user_remember_me {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  width: 580px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
}

.actions input {
  width: 500px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.actions input:hover {
  background: rgb(25, 90, 73);
  cursor: pointer;
  border-radius: 5px;
  color: aliceblue;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.log-links{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 35px;
  padding-top: 35px;
}

#check{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3px;
  margin-top: 3px;
}

#check label{
  margin-top: 10px;
  padding-left: 5px;
}

.btn{
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(10, 118, 91);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
}

.btn:hover {
  background-color: rgb(48, 178, 146);
}
