html{
  background: rgb(122,242,212);
background: linear-gradient(11deg, rgba(122,242,212,1) 0%, rgba(255,255,255,1) 81%, rgba(203,203,203,1) 96%);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;
}

.user-picture {
  flex-basis: 15%;
  border: 1px solid #c5c3c3;
  border-radius: 5px;
  padding: 10px;
  background-color: #d8dbdb;
  height: 80px;
  width: 2000px;
}

.user-picture div {
  text-decoration: none;
  flex-basis: 40%;
}

.user-information {
  padding: 10px;
  flex-basis: 90%;
  border: 1px solid #c5c3c3;
  border-radius: 5px;
  background-color: #c1c2c2;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.user-information h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #a5ffe8;
}

.counter-posts{
  color: rgb(255, 255, 255);
}

.user-card h3 {
  margin: 0;
}

.user-card span {
  font-size: 12px;
}

.container-user a{
  text-decoration: none;
}

.container-user li{
  list-style: none;
}

.bio{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; 
  height: 250px;
  border: 1px solid #d7d6d6;
  border-radius: 5px;
  padding: 15px;
  background-color: #f3f5f5;
  margin-bottom: 10px;
}

.bio h2{
  height: 5px;
}

.btn-all-posts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-all-posts a{
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(10, 118, 91);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
}

.btn-all-posts:hover a{
  background-color: rgb(48, 178, 146);
}
